<!DOCTYPE html>
<html>

<head>
  <title>v-for</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <!-- <ht-dropdown status="哈哈" :options="selectOptions"></ht-dropdown> -->

<!--   <div id="vueDropdown2" class="ht-dropdown">

    <div class="ht-dropdown-text">Gender</div>
    <div class="ht-dropdown-list">
      <div v-for="selectOption in options" class="ht-dropdown-item" :data-value="selectOption.value">{{ selectOption.text }}</div>
    </div>
  </div>
 -->
<!--   <div id="mod-test-module" class="rt-search-by-date rt-mb" data-module="dropdown-module">
    <p class="rt-search-by-date-text">查詢</p>
    <div class="rt-dropdown">
      <div class="rt-dropdown-status" data-type="dropdown-status">
        <p class="rt-dropdown-status-text"></p><span class="rti rti-chevron-down-icon status-icon-wrap"></span>
      </div>
      <div class="rt-dropdown-items">
        <a href="{{ filter_url_time_last_seven_days }}" class="rt-dropdown-item" data-type="dropdown-item">最近&nbsp;7&nbsp;天</a>
        <a href="{{ filter_url_time_last_thirty_days }}" class="rt-dropdown-item" data-type="dropdown-item">最近&nbsp;30&nbsp;天</a>
        <a href="{{ filter_url_time_last_three_months }}" class="rt-dropdown-item" data-type="dropdown-item">最近&nbsp;3&nbsp;個月</a>
        <a href="{{ filter_url_time_last_six_months }}" class="rt-dropdown-item" data-type="dropdown-item">最近&nbsp;6&nbsp;個月</a>
        <a href="{{ filter_url_time_last_year }}" class="rt-dropdown-item" data-type="dropdown-item">最近&nbsp;1&nbsp;年</a>
      </div>
    </div>
  </div>
 -->


  <table id="gTableVue" class="g_table">
    <thead>
      <tr>
        <th>商品名稱/時間</th>
        <th>狀態</th>
        <th>瀏覽數</th>
        <th>點擊數</th>
        <th>花費</th>
        <th>點擊率</th>
        <th>訂單數</th>
        <th>銷售數</th>
        <th>銷售金額</th>
        <th>操作</th>
      </tr>
    </thead>
    <!-- <tbody is="g-rows"></tbody> -->
    <tbody v-if="gRows.length !== 0">
      <tr v-for="gRow in gRows">
        <td>
          <p>{{ gRow.gImageUrl }}</p>
          <p>{{ gRow.gName }}</p>
          <p>{{ gRow.rStartTime }}</p>
          <p>{{ gRow.rEndTime }}</p>
          <p>{{ gRow.rBudget }}</p>
        </td>
        <td>
          <!-- <p>{{ parseRStatus(gRow.rStatus) }}</p> -->
          <ht-dropdown :status="parseRStatus(gRow.rStatus)" :options="selectOptions"></ht-dropdown>
          <p v-if="gRow.rStatus == 6">{{ gRow.isGoodsRemoved }}</p>
        </td>
        <td v-for="i in 7">
          <p>{{ gRow.statSelected[0] }}</p>
          <p v-if="gRow.statGrowth[i-1] > 0" class="item-value-rise">+{{ gRow.statGrowth[i-1] }}</p>
          <p v-else-if="gRow.statGrowth[i-1] === 0" class="item-value-none">--</p>
          <p v-else class="item-value-decrease">{{ gRow.statGrowth[i-1] }}</p>
        </td>
        <td>
          <a :href="'{{ config.point_host }}/rtb/kword_list.php?'+gRow.gno">管理</a>
        </td>
      </tr>
    </tbody>
    <tbody v-else>
      <tr>
        <td colspan="10">目前沒有已設定的關鍵字廣告</td>
      </tr>
    </tbody>
  </table>
  <script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://unpkg.com/vue"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/t3js/2.7.0/t3.js"></script>
  <script type="text/javascript" src="index.js"></script>
</body>

</html>